<!DOCTYPE html>
<html>

<head>
  <title>Reset Password</title>
  <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css" crossorigin="anonymous">
  <style>
  .main {
    margin: 10px;
    padding: 10px;
   }
   form {
    width:985px;
    margin:0 auto
  }
  input {
    width: 400px;
  }
  </style>
</head>

<body>
  <div class="main">
    <form class="pure-form">
      <h2>Change your password here!</h2>
      <fieldset class="pure-group">
        <label for="newPassword">New Password</label>
        <input type="text" name="newPassword" id="newPassword" placeholder="New password" required>
        <br>
        <label for="verifyPassword">Confirm Password</label>
        <input type="text" name="verifyPassword" id="verifyPassword" placeholder="Confirm password" required>
        <br />
        <input type="submit" name="submit" id="resetPasswordClickEvt" class="pure-button pure-button-primary"
          value="Reset Password">
      </fieldset>
    </form>
  </div>


  <script type="text/javascript">
    const resetPasswordClickEvt = document
      .getElementById('resetPasswordClickEvt');

    resetPasswordClickEvt
      .addEventListener('click', resetPasswordClicked);

    function resetPasswordClicked(event) {
      event.preventDefault();

      const token = document.location.href.split('token=')[1];

      const data = {
        passwd: document.getElementById('newPassword').value,
        passwdVrfy: document.getElementById('verifyPassword').value,
        token: token,
      };

      ajaxCall(data, 'http://localhost:3000/v1/auth/reset-password', function (status, response) {
        if (status == 200) {
          alert('successfully sent');
        } else {
          alert('Error', status)
        }
      });
    }

    function ajaxCall(data, url, callback) {
      const xhttp = new XMLHttpRequest();
      xhttp.open('POST', url, true);
      xhttp.onreadystatechange = function () {
        if (this.readyState == 4) {
          return callback(this.status, JSON.parse(xhttp.response));
        }
      }
      xhttp.setRequestHeader('Content-type', 'application/json');
      xhttp.send(JSON.stringify(data));
    }
  </script>
</body>

</html>